.customeShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.userTable {
  @apply bg-white;
}
.userTable th {
  @apply border text-base font-medium p-1;
}
.userTable td {
  @apply border text-base text-center p-1;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
/* 
.image-container {
  width: 100%;
  padding-top: 100%; 
  position: relative;
  overflow: hidden;
  
} 

*/
/* 
.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
   /* Ensures the image fits within the container */

