.customeShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.userTable {
  @apply bg-white;
}
.userTable th {
  @apply border text-base font-medium p-1;
}
.userTable td {
  @apply border text-base text-center p-1;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

@keyframes borderAnimation {
  0% {
    border-color: #ff8a00; /* Orange */
  }
  25% {
    border-color: #ff0081; /* Pink */
  }
  50% {
    border-color: #00bcd4; /* Cyan */
  }
  75% {
    border-color: #4caf50; /* Green */
  }
  100% {
    border-color: #ff8a00; /* Orange */
  }
}

.animated-border {
  border: 2px solid;
  animation: borderAnimation 4s linear infinite;
}

.animated-bg{
  width: 100%;
  height: 100%;
  animation: borderAnimation 4s ease-in-out infinite;
}

/* 
.image-container {
  width: 100%;
  padding-top: 100%; 
  position: relative;
  overflow: hidden;
  
} 

*/
/* 
.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
   /* Ensures the image fits within the container */

